body 
{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, sans-serif;
}

.assignment
{
    display: flex;
    padding: 10px;
    background-color: azure;
}
.assignment img
{
    width: 200px;
    border: 2px solid cornflowerblue;
    margin: 10px;
}
.assignment img:hover
{
    border: 2px dashed blue;
}
h1
{
    color: brown;
    text-align: center;
}
a
{
    text-decoration: none;
    color: cornflowerblue;
}
a:hover 
{
    color: blue;
}